/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@300;400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5rem;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: hsl(288, 29%, 43%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 0%);
  --body-color: #e8dff5;
  --container-color: #EFE2E7;
  --border-color: hsla(0, 0%, 0%, 0.473);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --second-font: 'Montserrat', sans-serif;

  --big-font-size: 4.5rem;
  --h1-font-size: 3rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 15px;
  --small-font-size: 15px;
  --smaller-font-size: 0.875rem;

  /*========== Font weight ==========*/
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-900: 900;

  /*========== Transition ==========*/
  --transition: cubic-bezier(0.05, 0.2, 0.1, 1);

  /*========== Border Radius ==========*/
  --radius: 0.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --header-height: 5rem;

    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.9375rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-300);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--body-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--weight-700);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.67em;
}

img {
  max-width: 100%;
}

textarea,
input {
  background-color: transparent;
  border: none;
  outline: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 0.75rem;
}

.grid {
  display: grid;
  gap: 1.75rem;
}

.section {
  padding-block: 8rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.section__title:not(.about .section__title, .contact .section__title),
.section__description {
  text-align: center;
}

.section__description {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 3.75rem;
}

.btn {
  display: inline-block;
  color: var(--title-color);
  background-color: var(--first-color);
  border: 2px solid var(--first-color);
  padding: 1rem 2.5rem;
  border-radius: var(--radius);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s var(--transition);
}

.btn:hover {
  background-color: transparent;
  color: var(--first-color);
}


/*=============== HEADER & NAV ===============*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
}

.nav,
.nav__list,
.nav__socials {
  display: flex;
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  align-items: center;
  justify-content: space-between;
  column-gap: 3.5rem;
}

.nav__logo {
  color: var(--title-color);
  font-size: 2.3rem;
  font-weight: var(--weight-700);
}

.nav__logo span {
  color: var(--first-color);
}

.nav__list {
  column-gap: 2rem;
}

.nav__link,
.nav__social-link {
  font-size: var(--small-font-size);
  color: var(--title-color);
  transition: all 0.3s var(--transition);
}

.nav__link {
  font-weight: var(--weight-500);
}

.nav__socials {
  column-gap: 1.5rem;
  margin-left: auto;
}

.nav__social-link:hover {
  color: var(--first-color);
  transform: translateY(-0.25rem);
}

.nav__link-btn {
  font-size: 10px;
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 45px;
  border: none;
  background-color: rgb(151, 95, 255);
  color: white;
  box-shadow: 0px 10px 10px rgb(210, 187, 253) inset,
  0px 5px 10px rgba(5, 5, 5, 0.212),
  0px -10px 10px rgb(124, 54, 255) inset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link-btn::before {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.678);
  content: "";
  filter: blur(1px);
  top: 7px;
  border-radius: 50%;
}

.nav__link-btn::after {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.137);
  content: "";
  filter: blur(1px);
  bottom: 7px;
  border-radius: 50%;
}

.nav__link-btn:hover {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.nav__toggle,
.nav__close {
  display: none;
}

/* Active link */
.active-link,
.nav__link:hover {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  position: fixed;
  backdrop-filter: blur(10px);
  background-color: #EFE2E7;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  animation: slide-down 0.7s;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.scroll-header .nav {
  height: var(--header-height);
}

/*=============== HOME ===============*/
/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  z-index: 9999;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 40%;
  margin: -100px 0 0 -100px;
  background-repeat: no-repeat;
}
 /* ================================ */

 @keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 6.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 12em;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid green; /* Cursor */
  animation: typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}


 /* ==================================== */
.home {
  padding-block: 7rem 9rem;
}

.home__container {
  grid-template-columns: 7fr 5fr;
  align-items: center;
}

.home__subtitle {
  font-size: var(--small-font-size);
  font-weight: var(--weight-400);
  letter-spacing: 0.25rem;
  margin-bottom: 1.25rem;
  display: block;
}

.home__title {
  font-family: var(--second-font);
  font-size: 2rem;
  font-weight: var(--weight-500);
}

.home__title span {
  color: var(--first-color);
}

.home__img {
  width: 420px;
  height: 420px;
  border-radius: 50%;
  border: 0.75rem solid var(--container-color);
  margin-left: auto;
}

.typing-text {
  overflow: hidden; /* hide the text initially */
  white-space: nowrap; /* keep the text on one line */
  border-right: 2px solid #fff; /* add a cursor effect */
  animation: typing 2s steps(20) forwards; /* animate the text */
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/*=============== ABOUT ===============*/
.about {
  background-color: var(--container-color);
}

.about__container {
  grid-template-columns: 5fr 7fr;
  align-items: center;
  column-gap: 4rem;
}

.about__container img {
  position: sticky;
}

.about__img {
  max-width: 90%;
  border-radius: var(--radius);
}

.about__description {
  margin-bottom: 2rem;
}

.tabs__btns {
  display: flex;
  column-gap: 2.5rem;
  margin-bottom: 1.25rem;
}

.tabs__btn,
.tabs__description span:first-child {
  font-weight: var(--weight-500);
}

.tabs__btn {
  cursor: pointer;
  color: var(--title-color);
  position: relative;
  padding-bottom: 0.5rem;
}

.tabs__btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 2px;
  background-color: var(--text-color);
  transition: all 0.3s var(--transition);
}

.tabs__data {
  row-gap: 1rem;
}

.tabs__description span:last-child {
  display: block;
}

/* Active tab */
.tabs__btn.tab__active {
  color: var(--first-color);
}

.tabs__btn.tab__active::after {
  background-color: var(--first-color);
  width: 100%;
}

.tabs__item[data-content] {
  display: none;
}

.tab__active[data-content] {
  display: block;
}

/*=============== SERVICES ===============*/
.services__container {
  grid-template-columns: repeat(3, 1fr);
}

.services__item {
  padding: 2rem 1.5rem;
  border-radius: var(--radius);
}

/* .services__icon {
  color: var(--first-color);
  font-size: 3.25rem;
  line-height: 1;
} */

/* .services__title {
  font-size: var(--h3-font-size);
  font-weight: var(--weight-500);
  margin-block: 1.75rem 1.25rem;
} */

/* .services__description {
  font-weight: var(--weight-400);
} */

/* ======================= services ============= */

.services__title  {
  width: 20rem;
  height: 15rem;
  border-radius: 20px;
  background-color: var(--container-color);
  position: relative;
  border: 2px solid rgb(151, 95, 255);
  transition: 0.5s ease-out;
  overflow: visible;
 }
 
 .services__details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .services-button{
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .services__title:hover {
  border-color: var(--first-color);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .services__title:hover .services-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

/* ======================= services end ============= */

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 36px;
  border-radius: 22px;
  color: #000000;
  overflow: hidden;
  background: rgb(236, 215, 236);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: #ced8ff;
  z-index: -1;
  transform-origin: bottom;

  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: #e7ecff;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content svg {
  width: 48px;
  height: 48px;
}

.content .para {
  z-index: 1;
  opacity: 1;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link {
  z-index: 1;
  color: #fea000;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link:hover {
  text-decoration: underline;
}

.card:hover {
  transform: translate(0px, -16px);
}

.card:hover .content::before {
  rotate: -8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.card:hover .content::after {
  rotate: 8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

/*=============== WORK ===============*/
.portfolio {
  background-color: var(--container-color);
}

.portfolio__container {
  grid-template-columns: repeat(3, 1fr);
}

.portfolio__item {
  position: relative;
  cursor: pointer;
  border-radius: var(--radius);
  overflow: hidden;
  height: 15rem;
  width: 22rem;
}

.portfolio__item::after,
.portfolio__data {
  position: absolute;
  transition: all 0.65s var(--transition);
}

.portfolio__item::after {
  content: '';
  inset: 0;
  background: linear-gradient(180deg, transparent, rgb(151 95 255 / 43%));
  opacity: 0;
}

.portfolio__img {
  width: 100%;
  vertical-align: middle;
  transition: all 1s var(--transition);
}

.portfolio__data {
  inset-inline: 2rem;
  bottom: 1.25rem;
  text-align: center;
  z-index: var(--z-tooltip);
}

.portfolio__subtitle,
.portfolio__description {
  color: var(--title-color);
  opacity: 0.7;
}

.portfolio__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.portfolio__title {
  color: rgb(255, 255, 255);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-600);
  margin-bottom: 0.75rem;
}

.portfolio__description {
  font-weight: var(--weight-400);
  display: none;
}

/* Work hover */
.portfolio__item:hover::after {
  opacity: 1;
}

.portfolio__item:hover .portfolio__img {
  transform: scale(1.1);
}

.portfolio__item:hover .portfolio__description {
  display: block;
}

.portfolio__item:hover .portfolio__data {
  transform: translateY(-2rem);
}

/*=============== CONTACT ===============*/
.contact__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.contact__description,
.contact__input {
  font-weight: var(--weight-400);
}

.contact__description {
  margin-bottom: 3rem;
}

.contact__description a {
  color: var(--title-color);
  font-weight: var(--weight-500);
}

.contact__form {
  position: relative;
}

.contact__input {
  border: 2px solid var(--border-color);
  padding: 0.8rem 1.25rem;
  width: 100%;
  border-radius: var(--radius);
  font-size: var(--smaller-font-size);
  margin-bottom: 1.25rem;
}

.textarea {
  height: 120px;
  resize: none;
}

.error__message {
  position: absolute;
  bottom: -12%;
  left: 0;
  font-size: var(--small-font-size);
  font-weight: var(--weight-400);
}

.color-first {
  color: var(--first-color);
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--container-color);
  padding-block: 2rem;
}

.footer__container {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footer__logo {
  color: var(--title-color);
  font-size: 2.5rem;
  font-weight: var(--weight-700);
}

.footer__logo span {
  color: var(--first-color);
}

.footer__socials {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}

.footer__social-link {
  color: var(--text-color);
  font-size: var(--small-font-size);
  border: 2px solid var(--text-color);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: all 0.3s var(--transition);
}

.footer__social-link:hover {
  background-color: var(--first-color);
  border-color: var(--first-color);
}

.footer__copyright {
  font-size: var(--small-font-size);
  font-weight: var(--weight-400);
  justify-self: flex-end;
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -100%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--title-color);
  display: grid;
  place-items: center;
  z-index: var(--z-fixed);
  transition: all 0.4s var(--transition);
}

.scrollup__icon {
  color: var(--first-color);
  font-size: 2.25rem;
  line-height: 1;
}

/* Show scrollup */
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .nav__btns {
    display: none;
  }

  .home {
    padding-top: 11rem;
  }

  .home__container,
  .about__container {
    grid-template-columns: 1fr;
  }

  .home__container {
    row-gap: 2rem;
  }

  .home__content {
    order: 1;
  }

  .home__img,
  .about__img {
    margin-inline: auto;
  }

  .home__img {
    border: 0.5rem solid var(--container-color);
    width: 380px;
    height: 380px;
  }

  .about__container {
    row-gap: 2.5rem;
  }

  .services__container,
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__container {
    column-gap: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .nav {
    height: var(--header-height);
    column-gap: 1.25rem;
  }

  .nav__logo {
    font-size: 2rem;
  }

  .nav__btns,
  .nav__toggle,
  .nav__close {
    display: block;
  }

  .nav__link-btn {
    display: none;
  }

  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60vw;
    height: 100vh;
    background-color: var(--container-color);
    padding: 3.5rem;
    transition: all 0.8s var(--transition);
  }

  .show-menu {
    right: 0;
  }

  .nav__list {
    flex-direction: column;
    row-gap: 1.125rem;
  }

  .nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .nav__socials {
    column-gap: 1rem;
  }

  .nav__toggle {
    font-size: var(--h2-font-size);
  }

  .nav__close,
  .nav__toggle {
    cursor: pointer;
  }

  .home {
    padding-top: 9rem;
  }

  .home__img {
    width: 320px;
    height: 320px;
  }

  .services__icon {
    font-size: 2.5rem;
  }

  .services__title {
    margin-block: 1.5rem 1rem;
  }

  .contact__container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .contact__content {
    order: 1;
  }

  .contact__description {
    margin-bottom: 2rem;
  }

  .footer__social-link {
    font-size: var(--smaller-font-size);
    width: 36px;
    height: 36px;
  }

  .scrollup {
    width: 42px;
    height: 42px;
  }

  .scrollup__icon {
    font-size: 2rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .home__img {
    width: 280px;
    height: 280px;
  }

  .tabs__btns {
    flex-wrap: wrap;
    row-gap: 0.75rem;
    column-gap: 1.5rem;
  }

  .services__container,
  .portfolio__container,
  .footer__container {
    grid-template-columns: 1fr;
  }

  .footer__container {
    row-gap: 1.5rem;
    justify-items: center;
  }

  .footer__copyright {
    justify-self: center;
  }
}

@media screen and (max-width: 576px) {
  .nav__menu {
    width: 100vw;
    padding: 2.75rem;
  }

  .home__img {
    width: 260px;
    height: 260px;
  }

  .services__item {
    padding: 2rem 1.5rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .home__img {
    width: 240px;
    height: 240px;
  }

  .tabs__description span:last-child {
    display: inline;
  }

  .portfolio__data {
    inset-inline: 1rem;
    bottom: 1rem;
  }
}

.home__content {
  position: relative;
  margin-left: 80px;
}

.home__content > .moon {
  background-color: #151845;
  padding: 0;
  margin: 0;
  right: 10; /* Adjust the value as per your desired position */
  top: 0;
  bottom: 0;
}
.home__content > .moon > .container{
  height: 370px;
  width: 370px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.moon{
  background-color: #39beff;
  height: 270px;
  width: 270px;
  border-radius: 50%;
  position: relative;
  margin: auto;
  left: unset;
  bottom: unset;
  right: 0;
  top: 0;
  overflow: hidden;
}

.crater{
  background-color: #31b4ff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
}
.crater:before{
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: -5px 0 0 2px #1ca4f9;
  top: 2px;
  left: 7px;
}
.crater-1{
  top: 27px;
  left: 90px;
  transform: scale(0.9);
}
.crater-2{
  bottom: 15px;
  left: 61px;
  transform: scale(0.6);
}
.crater-3{
  left: 15px;
  transform: scale(0.75);
}
.crater-4{
  left: 107px;
  top: 32px;
  transform: scale(1.18);
}
.crater-5{
  left: 33px;
  bottom: 4px;
  transform: scale(0.65);
}
.shadow{
  height: 190px;
  width: 190px;
  box-shadow: 21px 0 0 5px rgba(0,0,0,0.15);
  border-radius: 50%;
  position: relative;
  bottom: 157.5px;
  right: 46px;
}

.eye{
  height: 12px;
  width: 12px;
  background-color: #161616;
  position: relative;
  border-radius: 50%;
}
.eye-l{
  bottom: 255px;
  left: 59px;
}
.eye-r{
  bottom: 267px;
  left: 101px;
}
.mouth{
  height: 5px;
  width: 10px;
  border: 3px solid #161616;
  position: relative;
  bottom: 262px;
  left: 79px;
  border-top: none;
  border-radius: 0 0 10px 10px;
}
.blush{
  height: 7.5px;
  width: 7.5px;
  background-color: #1ca4f9;
  position: relative;
  border-radius: 50%;
}
.blush-1{
  bottom: 273px;
  left: 50px;
}
.blush-2{
  bottom: 281px;
  left: 115px;
}

.orbit{
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0cm;
  right: 0cm; /* Adjust the value as per your desired position */
  top: 0cm;
  bottom: 0cm;
  animation: spin 5s infinite linear;
}
@keyframes spin{
  100%{
      transform: rotate(360deg);
  }
}
.rocket{
  background-color: #fafcf7;
  height: 50px;
  width: 25px;
  border-radius: 50% 50% 0 0;
  position: relative;
  left: -50px;
  right: unset; /* Adjust the value as per your desired position */
  top: 180px; /
}
.rocket:before{
  position: absolute;
  content: "";
  background-color: #39beff;
  height: 20px;
  width: 55px;
  z-index: -1;
  border-radius: 50% 50% 0 0;
  right: -15px;
  bottom: 0;
}
.rocket:after{
  position: absolute;
  content: "";
  background-color: #39beff;
  height: 4px;
  width: 15px;
  border-radius: 0 0 2px 2px;
  bottom: -4px;
  left: 4.3px;
}
.window{
  height: 20px;
  width: 20px;
  background-color: #151845;
  border: 2px solid #b8d2ec;
  border-radius: 50%;
  position: relative;
  top: 17px;
  left: 5px;
}

.fa-square-facebook {
  color:rgb(24, 119, 242);
}

.fa-square-x-twitter {
  color: black;
}

.fa-square-github {
  color: rgb(24, 23, 23);
}

.fa-linkedin{
  color: rgb(0, 119, 181);
}

.fa-square-instagram {
  color: rgb(228, 64, 95);
}

button {
  position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}

/* ============================================= */

ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

a {
  color: white;
}